<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/general.css">
        <link rel="stylesheet" href="/static/header.css">
        <link rel="stylesheet" href="/static/left-side-menu.css">
        <link rel="stylesheet" href="/static/content.css">
        <link rel="stylesheet" href="/static/locationDetails.css">

        <script async src="/static/logic.js"></script>
    </head>
    <body>
        <div class="header">
            <img class="hamburger-menu-icon" src="/static/hamburger-menu.svg">
            <div class="link-to-main">Main</div>
            <div class="search-field">
                <input class="search" placeholder="Search">
                <img class="search-icon" src="/static/search.svg">
            </div>
        </div>

        <div class="left-side-menu">
            <div class="region">Tashkent</div>
            <div class="region">Samarkand</div>
            <div class="region">Bukhara</div>
            <div class="region">Navoiy</div>
            <div class="region">Xorazm</div>
            <div class="region">Andijan</div>
            <div class="region">Karakalpakstan</div>
        </div>

        <div class="content">
            <div class="content-explanation">
            </div>

            <div class="previews">
            </div>
        </div>

        <div class="loading">
            <img src="/static/loading-gif.gif">
        </div>
    </body>
</html>